body
{
	margin: 0;
	background: #f0f0f0;
}

#page
{
	text-align: center;
}
.image-bar
{
	z-index: -1;
	position:fixed; 
	overflow: hidden;
	height: 14.5vw;
}
.image-bar-spacer
{
	height: 14.5vw;
}
.bar-image
{
	display: block;
	position: relative;
	width: 100vw;
}
.menu-bar
{
	background: #9c1c25;
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 1.6rem;
}
#menu-bar-fixed
{
	display:none;
	top:0;
	position: fixed;
}
.menu-center-container
{
	max-width: 62.5rem;
	margin: 0 auto;
}
.loggo-and-name
{
	float:left;
	color: white;
	padding: 0.5rem;
}
.menu-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu-list-item
{
	float: right;
	display: block;
    color: white;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}
.menu-list-item:hover
{
	background: #b01c25;
    text-decoration: none;
}
.content-page
{
	background: #f0f0f0;
}
#content
{
	margin: 0 auto;
	background: #e5e5e5;
	max-width: 62.5rem;
	min-height: 200rem;
}

.soclank{
	height:2rem;
	width:2rem;
}

.disabled
{
	pointer-events:none;
	cursor:default;
}
#Botten{
	font-size:1rem;
	border:solid;
	border-width:0.001rem;
	width:10rem;
	display:block;
	margin:auto;
}
